@model List<FinalProject.Models.Category>
<div class="row align-items-center">
    <div class="col text-center">
        <div class="new_arrivals_sorting">
            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                @foreach (var i in Model)
                {
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".sp-@i.ID">@i.Name</li>
                }

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
            @Html.Action("getNewestProduct", "Default")
        </div>
    </div>
</div>


