@model List<FinalProject.Models.Category>
<ul class="sidebar_categories">
    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">All</li>
    @foreach (var i in Model)
    {
        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".sp-@i.ID">@i.Name</li>
    }
</ul>
