@model IEnumerable<FinalProject.Models.Menu>
<div class="logo_container">
    <a href="/">2H<span>shop</span></a>
</div>
<nav class="navbar">
    <ul class="navbar_menu">
        @foreach (var i in Model)
        {
            <li><a href="/@i.link">@i.Name</a></li>
        }
    </ul>
    <ul class="navbar_user">
        @if (Session["customer_id"] != null)
        {
            <li><a class="btn btn-danger text-white" style="padding: 0 30px; margin-right: 15px;" href="/Orders/Logout">Logout</a></li>
        }
        else
        {
            <li><a class="btn btn-success text-white" style="padding: 0 30px; margin-right: 15px;" href="/Orders/Login">Login</a></li>
        }

        <li class="checkout">
            <a href="/Orders">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <div class="hamburger_container">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</nav>
